{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> {% block title %} Event {% endblock title %} </title> <!-- Dynamic Title -->
    <link rel="stylesheet" href="{% static '/events/css/output.css' %}">
    <link href="{% static '/events/css/all.min.css' %}" rel="stylesheet">
</head>

<body class="bg-gray-50 font-sans">

    <nav class="bg-white shadow-md px-6 py-4 flex justify-between items-center">
        <div class="text-xl font-bold text-blue-600">Event.io</div>
        {% if request.user.is_superuser %}
            <!-- show buttons -->
            <div class="flex space-x-6">
                <!-- Event -->
                <a href="{% url 'event-create' %}">
                    <button id="btn-event"
                        class="tab-btn text-gray-600 hover:text-blue-600 font-medium {% if active_tab == 'event' %}border-b-2 border-blue-600{% endif %}">
                        Event
                    </button>
                </a>

                <!-- Category -->
                <a href="{% url 'category-create' %}">
                    <button id="btn-category"
                        class="tab-btn text-gray-600 hover:text-blue-600 font-medium {% if active_tab == 'category' %}border-b-2 border-blue-600{% endif %}">
                        Category
                    </button>
                </a>
            </div>
        {% else %}
            {% for g in request.user.groups.all %}
                {% if g.name == "Organizer" %}
                    <!-- show buttons -->
                    <div class="flex space-x-6">
                    <!-- Event -->
                    <a href="{% url 'event-create' %}">
                        <button id="btn-event"
                            class="tab-btn text-gray-600 hover:text-blue-600 font-medium {% if active_tab == 'event' %}border-b-2 border-blue-600{% endif %}">
                            Event
                        </button>
                    </a>

                    <!-- Category -->
                    <a href="{% url 'category-create' %}">
                        <button id="btn-category"
                            class="tab-btn text-gray-600 hover:text-blue-600 font-medium {% if active_tab == 'category' %}border-b-2 border-blue-600{% endif %}">
                            Category
                        </button>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="flex items-center space-x-4 gap-4"> 
            {% if user.is_authenticated %} 
            <div class="bg-sky-400 text-white px-4 py-2 w-10 h-10 rounded-full shadow text-white font-bold"> 
                {{ user.username|first }} 
            </div>  
            <a href="{% url 'logout' %}"> 
                <button class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg shadow">Logout</button> 
            </a> 
            {% else %}
            <a href="{% url 'login' %}" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Login</a>
            <a href="{% url 'logup' %}" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Sign Up</a>
            {% endif %}
        </div>
    </nav>

    <!-- Navbar End -->

    {% if messages %}
        <div class="bg-white border border-gray-200 rounded-lg shadow-md p-4">
            <h2 class="text-lg font-semibold text-gray-800 mb-3">Notifications</h2>
            <ul class="space-y-2">
                {% for message in messages %}
                    <li 
                        class="px-4 py-2 rounded-md 
                            {% if message.tags == 'error' %} bg-red-50 text-red-700 border border-red-200 
                            {% elif message.tags == 'success' %} bg-green-50 text-green-700 border border-green-200 
                            {% elif message.tags == 'warning' %} bg-yellow-50 text-yellow-700 border border-yellow-200 
                            {% else %} bg-blue-50 text-blue-700 border border-blue-200 {% endif %}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- Content -->
    {% block content %}{% endblock content %}
    <!-- Content End -->

    <script>
        function openModal(id) {
            const box = document.getElementById("editbox-" + id);
            if (box) {
                box.classList.toggle("hidden");
            }
        }
    </script>

</body>
</html>